.App {
  text-align: center;
  background-color: #06818d; /* Agregué color*/
}
.App-logo {
  height: 20vmin; /* Le bajé un poco*/
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction:column; /* Esto da la forma del header*/
  align-items: center; 
  justify-content:left;
  font-size: calc(10px + 3vmin);
  color: white;
}

.App-link {
  color: #072D9B ; /* Solo cambié el color*/
} 

/* Agrego el estilo de la tabla*/
.tabla {
  width: 90%; /*Espacio que ocupa la tabla*/
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #0D0D0D; /*Color de bordes*/
  caption-side:top;
  color: #082444; /*Color de letras de la tabla */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
