.Boton{
    background-color: rgb(6, 85, 22); /*Cambia el color del fondo*/
    border-radius: 10px;
    border:none;
    cursor: pointer;
    font-size: 50px;
    position: fixed; /*Esto hace que se quede sobre la ventana?*/
    bottom: 40px; /*Posicion hacia arriba?*/
    right: 44px; /* cambia la separacion del botn del lado derecho?*/
    font-weight: bold;
    color: #FAFAFA; /*Color del contenido?*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 54px;

    transform: rotate(0);
    transition: .3s ease;
}

.Boton:hover {
    transform: rotate(100deg); /*Cambié un poco la velocidad en que rota el bton*/
}