.Buscador{
  background: #AC58FA;
  border-radius: 15px;
  border: 3px solid #D0A9F5;
  margin: 0 25px;
  height: 64px;
  width: calc(100% - 64px);
  font-size: 30px;  /*Aumenté un poco la letra*/
  text-align: center;
  color: #000000; /*Cambié color*/
}

.Buscador::placeholder{
    color: #000000;
}

.Buscador::focus{
    outline-color: gold;
}