.Item {
    background-color: #054a5f;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border-radius: 10px;
    width: 1000px;
    /*Los siguientes mesirven para centrar el Item?*/
    margin-left: auto;
    margin-right:auto;
  
  }
  
  /*Aqui es el diseño del texto dentro del item*/
  .Item-p {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-size: 20px;
  }
  .Item-p--complete {
    text-decoration: line-through;
    color: #077927; /*Cambia el color del texto cuando ha completado la tarea */
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 35px;
    font-weight: bold;
  }
  /*De aqui comienza a mover el Icon de check*/
  .Icon-check {
    position: absolute;
    left: 15px;
    color: #E3CEF6;
  }
  .Icon-check--active {
    color: #077927;
  }
  /*Aqui comienza el icnono de borrar*/
  .Icon-delete {
    position: absolute;
    top: 4px; /*Le cambié para centrarlo*/
    right: 0;
    background-color: #054a5f /*Por defecto tiene un color*/
  }
  /*Le da el movimiento al icono de borrar cuando pasa el mouse*/
  .Icon-delete:hover {
     transform: rotate(40deg); /*Le aumente un poco*/
     background-color: red; /* Al pasar el mouse po el icon cambia al color rojo*/
     border-radius: 15px; /*Le doy borde al hover*/
  }
  .imagen{
    width: 45px;  /*Tamaño para el icono*/
    height: 45px;
  }
  